<h1>Mi Perfil</h1>
<p>Bienvenido/a: {{user.firstName}} {{user.lastName}}!</p>
<p>Email: {{user.email}}</p>
<p>Edad: {{user.age}}</p>
<p>Role: {{user.role}}</p>
<a href="/products">Products</a>
<a href="/api/users/logout">Logout</a>
