<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Enlace al archivo CSS -->
</head>
<body>
    {{#if user}}
    <header>
        <div class="header-container">
            <p class="welcome-message">Bienvenido: {{user.first_name}} {{user.last_name}}!</p>
            <p class="user-role">Rol: {{user.role}}</p>
            <a href="/api/users/logout" class="logout-button">Logout</a>
        </div>
    </header>

    <div id="user-data" 
        data-user-id="{{user._id}}" 
        data-user-email="{{user.email}}" 
        data-cart-id="{{user.cart}}">
    </div>

    {{else}}
    <p>No se encontraron datos del usuario.</p>
    {{/if}}

    <hr>

    <h1>LISTA DE PRODUCTOS</h1>

    <div class="products-container">
        {{#each products}}
        <div class="product-card">
            <h2 class="product-title">{{title}}</h2>
            <p class="product-description">{{description}}</p>
            <p class="product-price">Price: ${{price}}</p>
            <p class="product-category">Category: {{category}}</p>

            <!-- Selección de cantidad -->
            <div class="quantity-container">
                <label for="quantity-{{_id}}">Cantidad:</label>
                <input type="number" id="quantity-{{_id}}" name="quantity" min="1" value="1">
            </div>

            <!-- Botón agregar al carrito con ícono -->
            <button 
                type="button" 
                class="addToCart" 
                data-product-id="{{_id}}"
                data-cart-id="{{../user.cart}}"
                data-user-id="{{../user._id}}">
                <img src="/images/carrito.png" alt="Add to Cart" class="add-to-cart-icon">
                Agregar al Carrito
            </button>
        </div>
        {{/each}}
    </div>

    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}" class="pagination-button">Anterior</a>
    {{/if}}
    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}" class="pagination-button">Siguiente</a>
    {{/if}}

    <p class="pagination-info">Página {{currentPage}} de {{totalPages}}</p>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/buttonAddToCarts.js"></script>
</body>
</html>
